<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidapp.beconnect.beconnect">

    <!-- Bluetooth permissions and features -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <!-- Permissions to fetch user data over network, contact the proximity beacon service,
         and access location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditUserProfile" />
        <activity android:name=".BusinessCard" />
        <activity android:name=".EditBusinessCard" />
        <activity android:name=".Events" />
        <activity android:name=".EditPassword" />
        <activity android:name=".Ticket" />
        <activity android:name=".EventDetails" />
        <activity android:name=".News" />
        <activity android:name=".NewsDetails" />

        <service android:name=".MonitorService"/>
    </application>

</manifest>